.app {
    color: #1D1F2E;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: rgba(29, 31, 46, 0.7);
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}
